body {
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

.col-md-6, .col-md-3 {
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.col-md-3 {
    background-color: whitesmoke;
}

select {
    margin-left: 10px;
}

#albums > .col-md-3 {
    background-color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}

#albums {
    margin-left: 10px;
}

#track .col-md-6 {
    border: 1px solid tomato;
    
}